.profileContent span {
  font-family: Inter;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.userName {
  font-weight: 500;
}
.userEmail {
  font-weight: 400;
  color: #b9b9bc;
}
